<app-layout-dashboard>
    <div class="container py-4">
        <div class="card" appViewchild>
            <div class="card-body">
                <div>
                    <h2 class="text-white">This is example of Viewchild with directive</h2>
                    <br>
                    <button class="btn btn-primary m-4" (click)="changeColor('blue')">Blue</button>
                    <button class="btn btn-dark m-4" (click)="changeColor('black')">Black</button>
                    <button class="btn btn-danger m-4" (click)="changeColor('red')">Red</button>
                </div>
                <br>
            </div>
        </div>
    </div>
</app-layout-dashboard>