.secRed{
    background: #fff7f3 !important;
    border: 1px solid #f70b3e !important;
  }
  .secGreen{
    background: #f4fbf6 !important;
    border: 1px solid #283ba7 !important;
  }
  .box{
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    width: 300px;
    text-align: center;
    margin: auto;
  }