<app-layout-dashboard>
    <div class="container py-4">
        <div class="card bg-warning shadow rounded w-50 m-auto">
            <div class="card-body">
                <form class="row g-3 justify-content-center" [formGroup]="reactiveForm" (ngSubmit)="clickReactive()">
                    <div class="col-md-12">
                      <label for="inputEmail4" class="form-label">Email</label>
                      <input type="email" class="form-control" id="inputEmail4" formControlName="email">
                      <small class="text-danger"
                        *ngIf="!reactiveForm.get('email').valid && reactiveForm.get('email').touched">
                        Enter Valid Email id</small>
                    </div>
                    <div class="col-md-12">
                      <label for="inputPassword4" class="form-label">Password</label>
                      <input type="password" class="form-control" id="inputPassword4" formControlName="password">
                      <small class="text-danger"
                      *ngIf="!reactiveForm.get('password').valid && reactiveForm.get('password').touched">
                      Enter Valid Password</small>
                    </div>
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Address</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="address">
                      <small class="text-danger"
                      *ngIf="!reactiveForm.get('address').valid && reactiveForm.get('address').touched">
                      Enter Address</small>
                    </div>
                    <div class="col-md-12">
                      <label for="inputCity" class="form-label">City</label>
                      <input type="text" class="form-control" id="inputCity" formControlName="city">
                      <small class="text-danger"
                        *ngIf="!reactiveForm.get('city').valid && reactiveForm.get('city').touched">
                        Enter City</small>
                    </div>
                    <div class="col-md-12 my-3">
                      <label for="inputState" class="form-label">State</label>
                      <select id="inputState" class="form-select" formControlName="state">
                        <option selected>Choose...</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Maharastra">Maharastra</option>
                        <option value="Gujarat">Punjab</option>
                        <option value="Goa">Goa</option>
                      </select>
                    </div>
                    <!-- <div class="col-md-6">
                      <label for="inputZip" class="form-label">Zip</label>
                      <input type="text" class="form-control" id="inputZip">
                    </div> -->
                    <!-- <div class="col-10">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div> -->
                    <div class="col-10 w-50 m-auto d-table">
                      <button type="submit" class="btn btn-primary" [disabled]="!reactiveForm.valid">Submit</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
    
</app-layout-dashboard>