.login-box, .register-page
{
  width: 360px;
  margin: auto !important;
  padding-top: 15px;
}
.login-page, .register-page {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e9ecef;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* body{
  background-color: #e9ecef !important;
} */

body.sidebar-mini.layout-fixed {
  background-color: #e9ecef !important;
}

input.ng-touched.ng-invalid{
  border: 1px solid red;
}
