<app-layout-dashboard>
<div class="login-box">
    <div class="login-logo">
       <b>Update</b> User
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <form [formGroup]="UpdateForm" (ngSubmit)="onSubmit()">
                <div formGroupName="updateData">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Full Name" formControlName="name">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Address" formControlName="address">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-address-card"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="City" formControlName="city">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-location-arrow"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" formControlName="email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    
                    <!-- /.col -->
                    <div class="col-4 m-auto">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
</app-layout-dashboard>